# Dependencies
node_modules/
**/node_modules/

# Expo / React Native
.expo/
.expo-shared/
.expo-dev/
dist/
web-build/
expo-env.d.ts

# Android/iOS (generated)
android/
ios/
**/android/
**/ios/
.gradle/
**/.gradle/
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.key

# Next.js / web outputs
.next/
out/

# Testing / coverage / logs
coverage/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro
.metro-health-check*

# Env & local
.env
.env*.local

# OS/editor
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/

# Example/demo
app-example/

# TypeScript
*.tsbuildinfo
